body{
    background-color: rgb(154, 228, 211);
} 

h1{
    color:rgb(6, 6, 136); text-align: center;
}

h2 {
    color:rgb(255, 0, 0); text-align: center;
}

h3{
    color:rgb(11, 127, 100); text-align: center;
}

p{
    text-align: center; font-size: 30px;
}